.food_img{
  width: 100%;
  height: 200PX;
  border-radius: 4PX;
}
.addcut{
  top:430px;
}
.foodinfo{
  width: 100%;
  height: 1000PX;
  //position: fixed;
}
.price{
    color:red;
    font-weight: bold;
  }
